<div class="flex items-center justify-end p-4 border-t border-solid border-gray-300">
  <button class="btn btn-secondary mr-2" type="button" data-action="click->modal#close">Close</button>
  <div data-action="click->modal#close"><%= content %></div>
</div>
