<ul class="shadow-xl rounded">
  <% @quotes.each do |quote| %>
    <li class="px-5 py-4 bg-white border-t border-r border-b border-l border-gray-300 first:rounded-t last:rounded-b hover:shadow-xl">
      <%= quote.quote %>
    </li>
  <% end %>
</ul>
