<div class="my-4">
  <%= render ContentSwitchComponent.new do |c| %>
    <%= c.link_to 'Example', example_path(id), active: true %>
    <%= c.link_to 'Code', snippet_path(id) %>
  <% end %>
</div>

<%= helpers.turbo_frame_tag("content") { content } %>
