<header class="header">
  <div class="header-container container">
    <a class="header-home">
      <%= image_tag('/kabisa-logo.png', class: 'header-image') %>
    </a>
    <nav class="header-nav">
      <%= nav_items %>
    </nav>
  </div>
</header>