<%= render ModalComponent.new(title: 'Modal Title') do |m| %>
  <%= m.body do %>
    <p class="mb-4">
      I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.
    </p>
  <% end %>
  <%= m.footer do %>
    <button class="btn btn-primary" type="button">Save Changes</button>
  <% end %>
  <%= m.controller do %>
    <button class="btn btn-primary" type="button">Open regular modal</button>
  <% end %>
<% end %>