<div class="text-center">
  <p class="text-base text-gray-600 mb-8">No results found.</p>
  <%= link_to 'Clear filter', request.params.slice(:type, :search), class: 'text-base bg-blue-500 text-white px-6 py-2 rounded shadow-lg transform translate-y-full transition duration-100 ease-in-out hover:shadow-xl hover:bg-blue-600' %>
</div>