<div class="shadow-xl rounded text-lg">
  <%= render @companies %>
  <%= link_to_next_page @companies, 'Load More', class: 'px-5 py-4 bg-white border-t border-r border-b border-l border-gray-300 flex items-center first:rounded-t last:rounded-b hover:shadow-xl' %>
</div>